
  <div class="main-page-wrapper">


    <h2 class="thanks">Back of the net! Thanks for your question.
    </br>
    Got another one?</h2>

      <div class="ask-question">
        <h2 class="tasty">Got a tasty sports-based question?</h2>
          <button id="ask-btn">Ask it!</button>


          <div class="question-form">

            <%= render 'form' %>

          </div>

        <h1 id="quiz-trigger">If not, click to get quizzing!</h1>

      </div>

<!-- Questions div -->
    <div class="questions">

        <h2 class="question-h2"><span class="T">True</span> or <span class="F">False?</span></h2>


          <table class="question-table">

          <% @comments %>
            <tr>
              <td><h3><%= @comments.comment %></h3></td>
            </tr>

          </table>

            <div class="true-false-buttons">


                <%= link_to "", comment_answers_path(@comments, @answer, {:answer => "1"}), remote: true, method: :post, :class => "icon-ok-circle icon-4x T true_false_button" %>

                 <%= link_to "", comment_answers_path(@comments, @answer, {:answer => "0"}), remote: true, method: :post, :class => "icon-ok-circle icon-4x F true_false_button" %>

            </div>

    </div>

<!-- End questions show -->

    <div id="answer">
      You got the answer...
    </div>

</div>




