<footer>
  <div class="f-row">
    <ul>
     <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
    </ul>
  </div>
    <div class="f-row">
      <p id="copy">&copy; 2013 A Question of Sport</p>
    </div>
  </footer>
