<header>
  <div class="title-container">
  <div class="row top-row">

      <div class="span 5 logo">
        <img src="http://www.round-one.co.uk/images/projects/qos_01.jpg" alt="logo"/>
      </div>

      <div class="span11 title-pics">
      <ul>
      <li><img src="http://static.guim.co.uk/sys-images/Sport/Pix/pictures/2012/8/5/1344200215879/Usain-Bolt-wins-011.jpg" alt="Usain Bolt"/></li>
      <li><img src="http://3.bp.blogspot.com/-rvAWOUXLL_Y/UQ7Fwg7HyoI/AAAAAAAAGjM/hs4qiiBcFqo/s1600/Lionel+Messi.jpg" alt="Lionel Messi"/></li>
      <li><img src="http://www.samaa.tv/NewsPictures/20121226032_samaa_tv.jpg" alt="Nadal"/>
      </ul>
      </div>
  </div>

 <div class="row red">
      <div class="span6 title-font">
        <h1>A Question of Sport</h1>
      </div>

      <nav>
          <ul>
            <li><a id="about" href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
      </nav>


  </div>
 
</div>


      </header>
  
